/*
Color Palette:
- Midnight Violet: #320A28
- Crimson Violet: #511730
- Reddish Brown: #8E443D
- Toasted Almond: #ACB9173
- Light Gold: #E0D68A

*/

body {
    background-color: #320A28;
}

body,
html {
    margin: 0;
}

header,
footer {
    background-color: #511730;
    padding: 5px;
    width: 100%;
}

#intro {
    background-color: #8E443D;
    padding: 10px;
    margin: 30px;
}

#seasonal {
    background-color: #511730;
    padding: 20px;
    margin-top: 30px;
}

#about {
    background-color: #8E443D;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#aboutFlex {
    display: flex;
}

.featuredlist {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.resultsgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.resultslayout {
    display: flex;
}

#recipelist {
    background-color: #320A28;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchUI {
    background-color: #511730;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 22px;
}

.recipefeat {
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.recipephoto {
    height: 200px;
    width: 200px;
}

#aboutPhoto {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}