/*
Color Palette:
- Midnight Violet: #320A28
- Crimson Violet: #511730
- Reddish Brown: #8E443D
- Toasted Almond: #ACB9173
- Light Gold: #E0D68A

*/

:root {
    --midnight-violet: #320A28;
    --crimson-violet: #511730;
    --reddish-brown: #8E443D;
    --toasted-almond: #CB9173;
    --light-gold: #E0D68A;
}

header {
    background-color: var(--reddish-brown);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    background-color: var(--toasted-almond);
}

/*horizontal navigation bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    border-radius: 5px;
    padding: 6px 12px;
    display: inline-block;

    
    background-color: var(--crimson-violet);
    color: var(--light-gold);
    border: 2px solid var(--light-gold);

    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--light-gold);
    color: var(--crimson-violet);
}

body {
    margin: 0;
    scroll-padding-top: 80px;
    font-family: 'EB Garamond', serif;
}

/* Page Sections */
#intro {
    background-color: var(--light-gold);
    padding: 10px;
    margin: 30px;
}

#seasonal {
    background-color: var(--crimson-violet);
    padding: 20px;
    margin-top: 30px;
}

#about {
    background-color: var(--light-gold);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#aboutFlex {
    display: flex;
}

.featuredlist {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.resultsgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.resultsgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.recipelayout {
    display: flex;
    padding: 5px;
    margin: 20px;
}

#recipelist {
    background-color: var(--reddish-brown);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchUI {
    background-color: var(--reddish-brown);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 22px;
}

/* Images */
.recipefeat {
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.recipephoto {
    height: 150px;
    width: 150px;
}

#aboutPhoto {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}